<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Welcome to my django project


    <h2>writing information taken from the backend dynamically</h2>
    <ul>    
        <li>name : {{name}}</li>
        <li>age : {{age}}</li>
        <li>course : {{course}}</li>
    </ul>

    <h2>writing information directly on frontend statically</h2>
    <ul>
        <li>name : Anvesh</li>
        <li>age : 22</li>
        <li>course : python </li>
    </ul>

</body>
</html>