<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>
        writing information taken from backend dynamically
        <ul>
            <li>Name:{{name}}</li>
            <li>Course:{{course}}</li>
            <li>Age:{{age}}</li>
        </ul>
    </h1>

   <h1>writing information stattically using frondend</h1>
    <ul>
        <li>name:prerana</li>
        <li>age:22</li>
        <li>course:python</li>
    </ul>
   
   
</body>
</html>